<div class="calendar">

  <div class="weekdays">
    <span *ngFor="let dia of ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb']">{{ dia }}</span>
  </div>
  <div class="days">
    <button *ngFor="let dia of diasDeLaSemana"
            [disabled]="fechaInvalida(dia)"
            (click)="selectDate(dia)"
            [class.selected]="selectedDate?.toDateString() === dia.toDateString()"
            >
      {{ dia.getDate() }}
    </button>
  </div>
</div>

<div *ngIf="selectedDate" class="times">
  <h4>Horarios disponibles</h4>
  <button *ngFor="let horario of horariosDisponibles">{{ horario.horario }}</button>
</div>