<div class="calendar-carousel">
  <!-- Flecha izquierda -->
  <button class="arrow" (click)="scrollLeft()" [class.disabled]="scrollDisabled">&lt;</button>

  <!-- Contenedor de días -->
  <div class="days-container" #daysContainer>
    <div *ngFor="let dia of diasDeLaSemana" class="day" [class.disabled]="fechaInvalida(dia)"
      [class.selected]="selectedDate?.toDateString() === dia.toDateString()"
      (click)="!fechaInvalida(dia) && selectDate(dia)">
      <span class="day-letter">{{ nombresDeDias[dia.getDay()] }}</span>
      <span class="day-letter">{{ dia.getDate() }}</span>
    </div>
  </div>

  <!-- Flecha derecha -->
  <button class="arrow" (click)="scrollRight()">&gt;</button>
</div>

<div *ngIf="selectedDate" class="times">
  <label>Horarios disponibles</label>
  <div class="horarios">
    <button *ngFor="let horario of horariosDisponibles" class="horario" (click)="selectHorario(horario)"
      [class.selected]="selectedHorario?.horario === horario.horario">
      {{ horario.horario }}
    </button>
  </div>
</div>
<div>
  <div class="divButton">
    <button class="btn btn-primary btnSubmit tipografia-marca" (click)="horarioElegido()">
      Siguiente
    </button>
  </div>
</div>