<div id="page-content-wrapper" class="color-background">
  <div class="toolbar">
    <h2 class="tipografia-marca titulo">Coco Staff - Centro de estética</h2>
    
    <a href="https://maps.app.goo.gl/xcbV3oL6jGdzadWaA" target="_blank" rel="noopener"
        style="vertical-align: middle;">
        <span class="tipografia-marca">
      Gral. San Martín 2826, Munro.
      
        <span class="material-icons" style="font-size: 20px; color: inherit;">location_on</span>
      </span>
      </a>
  </div>
</div>