<!-- <div id="page-content-wrapper" class="color-app">
    <nav class="navbar navbar-expand-lg navbar-blue bg-blue border-bottom">
      <div class="container-fluid toolbar">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
         
          <div>
        
          </div>    
          <ul class="navbar-nav ms-auto mt-12 mt-lg-0">
    
          </ul>
        </div>
        
        <h2 class="titulo">Coco Staff - Centro de estética</h2>
      </div>
    </nav>
  </div> -->

  <div id="page-content-wrapper" class="color-background">
  <div class="toolbar">
    <h2 class="tipografia-marca titulo">Coco Staff - Centro de estética</h2>
  </div>
</div>