<div class="color-background dropdown-centered tipografia-marca headersSub">
      <p>
          En <strong>Coco Staff</strong> combinamos experiencia, pasión y dedicación para ofrecerte un espacio donde tu bienestar y cuidado personal son nuestra prioridad. Nuestro centro fue fundado a principios de este año en <strong>Munro</strong> por dos hermanas que unen lo mejor de sus talentos:
        </p>
        
        <ul>
            <li>
                <strong>Alejandra</strong>, estilista con más de <strong>30 años de experiencia</strong> en la zona, encargada de brindar servicios de estética de calidad y personalizados, asegurando resultados profesionales y confiables.
            </li>
            <li>
                Su hermana, <strong>Marisa</strong>, gestiona la parte administrativa, coordinando la atención al cliente y garantizando que tu visita sea cómoda y eficiente.
            </li>
        </ul>
        
        <p>
            Juntas creamos <strong>Coco Staff</strong>, un lugar moderno y cálido donde cada detalle está pensado para que te sientas cómoda, relajada y atendida con profesionalismo. Vení a descubrir nuestros servicios y dejate cuidar por quienes conocen la estética desde la experiencia y la pasión.
        </p>
    </div>
