<div class="dropdown-centered" *ngIf="servicioElegido == null">
  <app-servicios-panel (servicioSeleccionado)="seleccionarServicio($event)"></app-servicios-panel>
  
</div>
<div class="dropdown-centered" *ngIf="servicioElegido != null && profesionalElegido == null">
  <app-panel-profesionales (profesionalSeleccionado)="profesionalSeleccionado($event)"></app-panel-profesionales>
 
</div>
<div class="dropdown-centered" *ngIf="servicioElegido != null && profesionalElegido != null && horarioDeTurno == null">
  <app-panel-horarios [codigoProfesional]="profesionalElegido.codigo"
    (horarioSeleccionado)="horarioSeleccionado($event)"></app-panel-horarios>
</div>
<div *ngIf="servicioElegido != null && profesionalElegido != null && horarioDeTurno != null && !turnoGuardado">
  <app-form-cliente (DatosDelCliente)="datosDelCliente($event)"></app-form-cliente>
</div>
<div *ngIf="turnoGuardado">
  <app-form-detalle-turno [turnoReservado]="turnoModel"></app-form-detalle-turno>
</div>