<div class="dropdown-centered" *ngIf="mensajeDeErrorPost != null">
  <span class="text-danger"> {{this.mensajeDeErrorPost}} </span>
</div>

<div class="dropdown-centered" *ngIf="step == 0">
  <app-servicios-panel (servicioSeleccionado)="servicioSeleccionado($event)"></app-servicios-panel>
  
</div>
<div class="dropdown-centered" *ngIf="step == 1">
  <app-panel-profesionales (profesionalSeleccionado)="profesionalSeleccionado($event)"
    (volver)="pasoAnterior()"></app-panel-profesionales>
 
</div>
<div class="dropdown-centered" *ngIf="step == 2">
  <app-panel-horarios [codigoProfesional]="profesionalElegido.codigo"
    [duracionServicio]="servicioElegido.duracionServicio"
    (horarioSeleccionado)="horarioSeleccionado($event)"
    (volver)="pasoAnterior()"></app-panel-horarios>
</div>
<div *ngIf="step ==3" class="dropdown-centered">
  <app-form-cliente (DatosDelCliente)="datosDelCliente($event)" (volver)="pasoAnterior()"></app-form-cliente>
</div>
<div *ngIf="step == 4">
  <app-form-detalle-turno [turnoReservado]="turnoModel"></app-form-detalle-turno>
</div>