
.mat-expansion-panel{
     margin-top:20px;
      border: 1px solid white;
      color:white;
}
.servicio-card{
     color:#212631;
}
.btnAgendar{
     margin-left:auto;
     float:right !important;
}