.container{
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    max-width: 1600px;
    background-size: auto;
    
}

.logo {
  width: 200px;
  height: auto; /* mantiene proporción */
  display: block;
  margin: 0 auto; /* centrado horizontal */
}
.background-container {
  width: 100%;
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
