<div class="listado-titulo tipografia-marca headers">Profesionales</div>
<div class="listado border-white">
  <div *ngFor="let profesional of profesionales" class="listado-item tipografia-marca headersSub"
    [class.selected]="profesional === seleccionado" (click)="seleccionarEmpleado(profesional)">
    {{ profesional.nombre }}
  </div>
</div>
<div class="divButton">

  <button class="btn btnVolver tipografia-marca" (click)="volver.emit()">
    Volver
  </button>
  <button class="btn  btnSubmit tipografia-marca" [disabled]="btnDisabled" (click)="continuar()">
    Siguiente
  </button>
</div>